@use '@/assets/scss/core/_variables' as *;
@use '@/assets/scss/main' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: initial;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: $vt-c-white;
  padding: rem(62px) rem(78px);
  border: 2px solid $vt-c-black;
  border-radius: $size-16;
  width: calc(100% - 40px);
  max-width: rem(780px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.close-button {
  position: absolute;
  top: $size-32;
  right: $size-24;
  background: none;
  border: none;
  max-width: $size-40;
  max-height: $size-40;
  cursor: pointer;
}

.modal-title {
  font-family: $Rubik;
  font-size: $size-32;
  line-height: $size-40;
  letter-spacing: figma-ls(-2, 32);
  font-weight: $font-extra-bold;
}

.modal-description {
  display: block;
  padding-top: $size-16;
  font-size: $size-18;
  line-height: $size-26;
  font-weight: $font-light;
}

.modal-description--phone {
  display: none;
}

.form {
  padding-top: rem(40px);

  & .form-group:nth-child(3) {
    padding-bottom: $size-16;
  }
}

.form-group {
  padding-bottom: rem(24px);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container {
  position: relative;
  border-radius: 40px;

  input {
    width: 100%;
    padding: rem(12px) rem(12px) rem(12px) rem(58px);
    max-height: $size-48;
    border: 1px solid $vt-c-gray;
    border-radius: 40px;
    font-size: 1rem;
    background: $vt-c-white;
    position: relative;
    z-index: 2;

    &::placeholder {
      color: $vt-c-gray;
    }
    &:focus {
      outline: none;
      border-color: transparent;

      + .gradient-border {
        opacity: 1;
      }
    }
  }

  .gradient-border {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 42px;
    background: linear-gradient(
        70deg,
        #9C27B0 0%,
        #C2185B 33%,
        #E91E63 66%,
        #FF5252 100%
    );
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .input-icon {
    position: absolute;
    left: rem(24px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: $size-24;
    height: $size-24;
  }
}

.form-note {
  font-size: $size-12;
  line-height: $size-20;
  font-weight: $font-regular;
  color: $vt-c-black;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: rem(24px);
  flex-wrap: nowrap;

  padding-top: $size-40;
}

.submit-button {
  width: 100%;
  height: $size-48;
  max-width: rem(186px);
  padding: rem(12px) rem(28px);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $vt-c-white;
  transition: $transition-base;

  border-radius: $size-40;
  border: none;
  cursor: pointer;

  /* Обычное состояние (белая кнопка) */
  background: linear-gradient(90deg,
    $vt-c-dark-orchid 0%,
    $vt-c-byzantine 33%,
    $vt-c-purple-red 66%,
    $vt-c-movein 100%);
  color: $vt-c-white;

  /* Активное состояние */
  &:active {
    background: $vt-c-white;
    color: $vt-c-black;
    box-shadow: 0 0 24px rgba(130, 38, 196, 0.32);

    .swiper-btn-text {
      color: $vt-c-black;
    }
  }

  .swiper-btn-text {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    font-size: $size-14;
    line-height: $size-24;
    font-weight: $font-bold;
    text-decoration: none;
    color: $vt-c-white;
  }
}

.form-agreement {
  font-size: $size-12;
  line-height: $size-20;
  font-weight: $font-regular;
  color: $vt-c-black;

  a {
    font-size: $size-12;
    line-height: $size-20;
    font-weight: $font-regular;
    text-decoration: underline;
    color: $vt-c-byzantine;
  }
}


@media (max-width: 1366px) {
  .modal-overlay {
    align-items: flex-start;
    padding-top: 7.3%;
  }
}

@media (max-width: 992px) {
  .modal-overlay {
    padding-top: 31.3%;
  }

  .modal-content {
    position: relative;
    background-color: $vt-c-white;
    padding: $size-48;
    border: 2px solid $vt-c-black;
    border-radius: $size-16;
    width: calc(100% - 40px);
    max-width: rem(716px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  .close-button {
    top: $size-32;
    right: $size-32;
  }

  .modal-description {
    display: block;
  }

  .modal-description--phone {
    display: none;
  }
}

@media (max-width: 576px) {
  .modal-overlay {
    padding-top: 10%;
  }

  .modal-content {
    position: relative;
    background-color: $vt-c-white;
    padding: $size-24;
    border: 2px solid $vt-c-black;
    border-radius: $size-16;
    width: calc(100% - 40px);
    max-width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  .close-button {
    top: $size-16;
    right: $size-16;
    max-width: $size-24;
    max-height: $size-24;
  }

  .modal-title {
    font-family: $Rubik;
    font-size: $size-24;
    line-height: $size-32;
    letter-spacing: figma-ls(-2, 32);
    font-weight: $font-extra-bold;
  }

  .modal-description {
    display: none;
  }

  .modal-description--phone {
    display: block;
    padding-top: $size-8;
    font-size: $size-16;
    line-height: $size-24;
    font-weight: $font-light;
  }

  .form-group {
    padding-bottom: $size-16;
  }

  .form {
    padding-top: $size-24;
  }

  .input-container {

    input {
      width: 100%;
      padding: rem(10px) rem(16px) rem(10px) rem(46px);
      max-height: rem(42px);
      border: 1px solid $vt-c-gray;
      border-radius: 40px;
      font-size: 1rem;
      background: $vt-c-white;
      position: relative;
      z-index: 2;

      &::placeholder {
        color: $vt-c-gray;
      }
      &:focus {
        outline: none;
        border-color: transparent;

        + .gradient-border {
          opacity: 1;
        }
      }
    }

    .input-icon {
      position: absolute;
      left: rem(16px);
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      width: $size-20;
      height: $size-20;
    }
  }

  .submit-button {
    width: 100%;
    height: $size-48;
    max-width: 100%;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: rem(32px);
    flex-wrap: initial;

    padding-top: $size-24;
  }
}
