// Добавьте импорт переменных
@use '@/assets/scss/core/_variables' as *;

.footer {
  position: relative;
  margin-top: rem(120px);
  background: $vt-c-black;
  //max-height: $header-height;
  z-index: 1;

  & .f-polygon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.f-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  gap: rem(20px);
  padding: rem(64px) $size-16 rem(48px) $size-16;
  max-width: $container-width;
  margin: 0 auto;
}

.f-col-1,
.f-col-2,
.f-col-3, {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  width: 100%;
  max-width: rem(280px);
}

.f-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: rem(180px);
  height: rem(72px);
  background: $vt-c-white;
  border-radius: $size-16;
}

.f-logo-img {
  filter: grayscale(1);
  height: rem(38px);
  width: 100%;
  max-width: rem(138px);
}

.col-ul-wrap {
  & li:not(:first-child) {
    padding-top: rem(16px);
  }
}

.f-btn-wr {
  max-width: rem(180px);

  .contact-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    height: 3rem;
    padding: 0.75rem 1.75rem;

    font-weight: $font-bold;
    font-size: $size-14;
    text-decoration: none;
    cursor: pointer;

    border-radius: 2.5rem;
    border: none;
    transition: $transition-base;

    /* Обычное состояние */
    background: white;
    color: $vt-c-black;
    box-shadow: 0 0 24px rgba(130, 38, 196, 0.32);

    /* Hover состояние */
    &:hover {
      background: linear-gradient(90deg,
        $vt-c-dark-orchid 0%,
        $vt-c-byzantine 33%,
        $vt-c-purple-red 66%,
        $vt-c-movein 100%);
      color: white;
      box-shadow: 0 0 24px rgba(130, 38, 196, 0.32);

      /* Дополнительные эффекты */
      box-shadow:
        0 0 32px rgba(130, 38, 196, 0.4),
        0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Активное состояние */
    &:active {
      box-shadow: 0 0 16px rgba(130, 38, 196, 0.3);
    }
  }
}

.f-col-th {
  display: flex;
  align-items: center;
  padding: rem(20px) 0;
  font-size: $size-16;
  line-height: $size-32;
  font-weight: $font-bold;
  color: $vt-c-white;
}

.f-text,
.f-phone,
.f-mailto,
.f-social {
  display: flex;
  align-items: center;
  gap: $size-16;
  font-size: $size-16;
  line-height: $size-24;
  color: $vt-c-white;
  font-weight: $font-regular;
  &.link {
    text-decoration: underline;
  }
}

.f-phone:hover,
.f-mailto:hover,
.f-social:hover {
  background: linear-gradient(
      135deg,
      $vt-c-dark-orchid 0%,
      $vt-c-byzantine 33%,
      $vt-c-purple-red 66%,
      $vt-c-movein 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1366px) {
  .footer {

    & .f-polygon {
      right: rem(-280px);
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    position: relative;
    margin-top: rem(98px);
    background: $vt-c-black;
    z-index: 1;
    overflow: hidden;

    & .f-polygon {
      right: -35.5%;
      bottom: -44%;
      z-index: 1;
    }
  }

  .f-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: rem(20px);
    padding: rem(48px) rem(25px) rem(48px) rem(40px);
    max-width: $container-width;
    margin: 0 auto;
    z-index: 2;
  }

  .f-col-1,
  .f-col-2,
  .f-col-3, {
    display: flex;
    flex-direction: column;
    gap: rem(32px);
    width: 100%;
    max-width: rem(248px);
  }

  .f-col-3 {
    max-width: rem(175px);
  }

  .f-logo {
    max-width: rem(160px);
    height: rem(64px);
  }

  .f-logo-img {
    filter: grayscale(1);
    height: rem(34px);
    max-width: rem(124px);
  }

  .f-col-th {
    padding: rem(16px) 0;
    font-size: $size-16;
    line-height: $size-32;
    font-weight: $font-bold;
    color: $vt-c-white;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    position: relative;
    margin-top: rem(80px);
    background: $vt-c-black;
    z-index: 1;
    overflow: hidden;

    & .f-polygon {
      right: -40%;
      bottom: -5%;
      z-index: 1;
    }
  }

  .f-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: rem(40px);
    padding: rem(48px) rem(20px) rem(115px) rem(20px);
    max-width: $container-width;
    margin: 0 auto;
    z-index: 2;
  }

  .f-col-1,
  .f-col-2,
  .f-col-3, {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: $size-24;
    width: 100%;
    max-width: 100%;
  }

  .f-col-3 {
    max-width: 100%;
  }

  .f-logo {
    max-width: rem(160px);
    height: rem(64px);
  }

  .f-logo-img {
    filter: grayscale(1);
    height: rem(34px);
    max-width: rem(124px);
  }

  .f-col-th {
    padding: 0;
    font-size: $size-16;
    line-height: $size-32;
    font-weight: $font-bold;
    color: $vt-c-white;
  }

  .col-ul-wrap {
    max-width: 95%;
    & li:not(:first-child) {
      padding-top: $size-8;
    }
  }

  .f-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $size-14;
    line-height: rem(22px);
    font-weight: $font-regular;
  }

  .f-phone,
  .f-mailto,
  .f-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $size-16;
    font-size: $size-16;
    line-height: $size-24;
    color: $vt-c-white;
    font-weight: $font-regular;
    &.link {
      text-decoration: underline;
    }
  }
}
